
body{ 
    font-size: 16px;
   font-family: "Roboto",  sans-serif;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #000;
    color: #434455;
    
}
ul{
    list-style-type: none;
  
}

.logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}
span{
    color: #2e2f42;
}
.links {
    margin-right: 40px;
}

.links-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.links-nav:hover,
.links-nav:active,
.links-nav:focus {
    color: #404bbf;
}
.address{
    font-style: normal;
}
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.sec-one{
    background: #2e2f42;

}
.sec-one-title{

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;


color: #fff;
    background: #4d5ae5;
    margin: 0 auto;

}

.button:hover,
.button:focus {
    background: #404bbf;
}



.sec-title{
    font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
.sec-text-nc{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.sec-text{
 
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
}
.list-title-nc{
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
               
            }

.list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
}

.sec-three{
    background: #f4f4fd;
}
.sec-box{

        background: #fff;

}
.sec-card{
        background: #fff;
        
}
.footer{
    background: #2e2f42;
}
.span-footer{
    color: #f4f4fd;
}
.footer-text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}