body {

    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: fcfcfc;
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: #ffffff;
width: 1440px;
    height: 3300px;}

.header{
background: #fff;}

.nav-menu{
    list-style-type: none;
    display: flex;
}
.logo{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}
span{
    color: #2e2f42;
}

.links{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
}
.links:hover,
.links:active{
color: #404bbf;
}

.contacts{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
}
.contacts:hover,
.contacts:focus{
    color: #404bbf;
}
/* main  */

/* section one */
.sec-one{
    background: #2e2f42;
    width: 1440px;
        height: 600px;
}
.sec-one-title{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;

            padding-left: 472;
            padding-top: 188;

}
.button{ 
    cursor: pointer;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        margin: 0 auto;
        display:block
}

/* section two */


.sec-two{
    width: 1128px;
        height: 104px;

}

.sec-two-title{
    display: none;
margin: 0%;
padding: 0%;

}
h3{

        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

  

}



.sec-two-list{
    list-style-type: none;
    margin-left: 24;
    margin-top: 120;
    padding: 0;
  display: flex

}
.sec-two-list p{
            font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
       
}
/* section three */
.sec-three-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}

.sec-three{
    background: #f4f4fd;
width: 1440px;
height: 732px;

}
.sec-three-list{
display: flex;
list-style-type: none;

}
.sec-three-box{
    border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background: #fff;

}
/* section four */

.sec-four{
width: 1128px;
    height: 1000px;
}
.sec-four-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
.sec-four-list{
    display: flex;
    list-style-type: none;
}
.sec-four-box{
    background: #fff;
    width: 360px;
        height: 420px;
}
/* footer */
.footer{
    width: 1440px;
        height: 312px;
        background: #2e2f42;
}